In [ ]:
PROGRAM 4 
    AIM:-Programs to handle data using pandas. 
    Question 1:- Write a program to implement list to series conversion. 
    2. Write a python program to generate the series of dates from 20th         
    November 2024 to 24th November 2024(both inclusive). 
    3. Given a 2D list convert it in to corresponding data frame and display it. 
    4. Create a dictionary and convert it in to corresponding data frame . 
    5. Display the head and tail of the dataâ€™s. 
    6. Write python program that given a data frame select find two rows and 
    display. 
    7. Given a data frame with nan values replace the nan value with 0.

In [1]:
#Pandas Series from a list 
import pandas as pd 
a = [1, 7, 2] 
myvar = pd.Series(a) 
print(myvar)

0    1
1    7
2    2
dtype: int64

In [3]:
import pandas as pd 

# Date range 
date_series = pd.date_range(start='2024-11-20', end='2024-11-24') 

print("Date Series:") 
for date in date_series: 
    print(date)

Date Series:
2024-11-20 00:00:00
2024-11-21 00:00:00
2024-11-22 00:00:00
2024-11-23 00:00:00
2024-11-24 00:00:00

In [4]:
import pandas as pd 
# 2D List 
data = [[101, 'A', 23], 
[102, 'B', 25], 
[103, 'C', 22]] 
# Convert to DataFrame 
df = pd.DataFrame(data, columns=['ID', 'Name', 'Age']) 
print("2D List to DataFrame:") 
print(df)

2D List to DataFrame:
    ID Name  Age
0  101    A   23
1  102    B   25
2  103    C   22

In [5]:
#DataFrames 
import pandas as pd 
data = { 
"calories": [420, 380, 390], 
"duration": [50, 40, 45] 
} 
#load data into a DataFrame object: 
df = pd.DataFrame(data) 
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [6]:
import pandas as pd 
# Sample DataFrame 
df = pd.DataFrame({ 
'Roll': [1, 2, 3, 4, 5, 6, 7], 
'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G'], 
'Marks': [78, 82, 90, 65, 85, 92, 70] 
}) 
print("Head of the DataFrame:") 
print(df.head()) 
print("\nTail of the DataFrame:") 
print(df.tail())

Head of the DataFrame:
   Roll Name  Marks
0     1    A     78
1     2    B     82
2     3    C     90
3     4    D     65
4     5    E     85

Tail of the DataFrame:
   Roll Name  Marks
2     3    C     90
3     4    D     65
4     5    E     85
5     6    F     92
6     7    G     70

In [7]:
import pandas as pd 
# Sample DataFrame 
df = pd.DataFrame({ 
'ID': [1, 2, 3, 4], 
'Name': ['A', 'B', 'C', 'D'], 
'Age': [20, 21, 19, 22] 
}) 
# Select 2 rows by index 
selected_rows = df.iloc[[1, 3]]  # selecting 2nd and 4th rows 
print("Selected Rows:") 
print(selected_rows)

Selected Rows:
   ID Name  Age
1   2    B   21
3   4    D   22